<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT productItem ANY>
<!ATTLIST productItem id ID #REQUIRED>
]>
<root id="-1">
  <home id="1082" key="2b39631c-2497-4bc6-996a-d9325e1cd11a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-11-13T13:46:02" updateDate="2020-11-13T13:46:02" nodeName="Home" urlName="home" path="-1,1082" isDoc="" nodeType="1081" creatorName="kha tran" writerName="kha tran" writerID="0" template="1080" nodeTypeAlias="home" isPublished="true">
    <productContainer><![CDATA[[{"key":"7a7b0c10-b8ac-4e0c-a7cf-06e8bd5648bb","name":"Item 1","ncContentTypeAlias":"productItem","description":""}]]]></productContainer>
  </home>
</root>