@inherits UmbracoDI2.Services.UmbracoTemplatePage

@{
    Layout = null;
    var test = _numberServices.GetNumber();
    var link = Umbraco.NiceUrl(1056);
}

<h1>@test</h1>

<div>
    <form action="/Forms/Search" method="get">
        <input type="text" placeholder="Search" id="query" name="query" />
        <button>Search</button>
    </form>
</div>