@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Location>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using UmbracoUI2.Models;
@inherits UmbracoDI2.Services.UmbracoTemplatePage

@{
    Layout = "_MasterTemplate.cshtml";
    var model = _shareableContentService.GetShareableContent<LocationModel>("/locations-data/") as LocationModel;
}

<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Ligula cursus ut aenean nec</h6>
            <p>Quam ullamcorper volutpat augue eu sodales augue</p>
        </div>
        <ul class="nospace group intro">
            @if (model != null)
            {
                foreach (var item in model.LocationItems)
                {
                    <li class="one_third">
                        <article class="location-container">
                            <h3 class="heading"><b>@Html.Raw(item.LocationName)</b></h3>
                            <a href="#"><img src="@item.LocationImage" alt="" /></a>
                            <div class="excerpt">
                                <div>@Html.Raw(item.Address)</div>
                                <div>
                                    <img class="icon-phone-location" src="~/assets/images/phone-icon.png" alt="" />
                                    <p>@Html.Raw(item.ContactNumber)</p>
                                </div>
                            </div>
                        </article>
                    </li>
                }
            }

        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>