<article>
    <a href="#"><img src="~/assets/images/demo/320x190.png" alt=""></a>
    <div class="excerpt">
        <h6 class="heading">Dictum erat suspendisse</h6>
        <p>Varius magna ipsum lacinia vehicula lacus tincidunt et nulla auctor magna nec ornare condimentum&hellip;</p>
        <footer><a href="#">Read More &raquo;</a></footer>
    </div>
</article>