@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Examine.LuceneEngine.SearchCriteria;
@using Dtos.Models
@inherits UmbracoDI2.Services.UmbracoTemplatePage
@{

    Layout = "_MasterTemplate.cshtml";
}
@{
    var query = Request.QueryString["query"];
    SearchResultsModel searchResults = new SearchResultsModel();
    if (!string.IsNullOrEmpty(query))
    {
        searchResults = _searchingServices.Search(query);
    }
    <div class="wrapper row5">
        <div class="hoc clear">
            @if (searchResults.ListNode != null && searchResults.ListNode.Any())
            {
                <ul>
                    @foreach (var node in searchResults.ListNode)
                    {
                        <li>
                            <a href="@node.Url">@node.Name</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <ul>
                    <li><span>No result </span></li>
                </ul>
            }
        </div>
    </div>

}
