@using UmbracoUI2.Models

@model List<ProductContainer>
<div class="wrapper row2">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Ligula cursus ut aenean nec</h6>
            <p>Quam ullamcorper volutpat augue eu sodales augue</p>
        </div>
        <ul class="nospace group intro">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <li class="one_third first">
                        <article>
                            <a href="#"><img src="@item.ProductImage" alt=""></a>
                            <div class="excerpt">
                                <h6 class="heading">@item.ProductName</h6>
                                <p>@Html.Raw(item.Description)</p>
                                <footer><a href="#">Read More &raquo;</a></footer>
                            </div>
                        </article>
                    </li>
                }
            }
            @*<li class="one_third first">
                    <article>
                        <a href="#"><img src="images/demo/320x190.png" alt=""></a>
                        <div class="excerpt">
                            <h6 class="heading">Suspendisse eleifend</h6>
                            <p>Ullamcorper mi in elementum donec ex felis commodo non condimentum faucibus volutpat phasellus&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </div>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><img src="images/demo/320x190.png" alt=""></a>
                        <div class="excerpt">
                            <h6 class="heading">Dictum erat suspendisse</h6>
                            <p>Varius magna ipsum lacinia vehicula lacus tincidunt et nulla auctor magna nec ornare condimentum&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </div>
                    </article>
                </li>
                <li class="one_third">
                    <article>
                        <a href="#"><img src="images/demo/320x190.png" alt=""></a>
                        <div class="excerpt">
                            <h6 class="heading">Duis ac orci pulvinar</h6>
                            <p>Consequat massa in mattis justo aliquam sit amet malesuada elit vitae lobortis nisi nunc maximus&hellip;</p>
                            <footer><a href="#">Read More &raquo;</a></footer>
                        </div>
                    </article>
                </li>*@
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>