<!DOCTYPE root[<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1066" key="34369320-5c6e-47bb-9ddf-99a8f94ee8d0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-11-13T10:18:06" updateDate="2020-11-13T10:18:36" nodeName="Home" urlName="home" path="-1,1066" isDoc="" nodeType="1065" creatorName="kha tran" writerName="kha tran" writerID="0" template="1064" nodeTypeAlias="homePage" isPublished="false" />
</root>